{extend name="common:base"}
{block name="body"}
<body>
<article class="page-container">
    <form class="form form-horizontal" id="form-article-add" action="{:url('admin/article/save')}">
        {if isset($data.id)}
        <input type="hidden" name="id" value="{$data.id}">
        {/if}
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>文章标题：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text"  placeholder="" value="{if isset($data.id)}{$data.title}{/if}" name="title">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">文章内容：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea id="editor"  style="width: 1000px;height: 600px"  class="form-control" placeholder="文章内容" id="content" name="content" >{if isset($data.id)}{$data.content}{/if}</textarea>
                </div>
                </div>
                <div class="row cl">
                    <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                        <input type="submit" class="btn btn-primary radius" value="保存">
                </div>
                </div>
                </form>
                </article>

                {/block}
                    {block name="end"}
                <!--请在下方写此页面业务相关的脚本-->
                <script type="text/javascript" src="/static/lib/My97DatePicker/4.8/WdatePicker.js"></script>
                <script type="text/javascript" src="/static/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
                <script type="text/javascript" src="/static/lib/jquery.validation/1.14.0/validate-methods.js"></script>
                <script type="text/javascript" src="/static/lib/jquery.validation/1.14.0/messages_zh.js"></script>
                <script type="text/javascript" src="/static/lib/webuploader/0.1.5/webuploader.min.js"></script>
                <script type="text/javascript" src="/static/lib/ueditor/1.4.3/ueditor.config.js"></script>
                <script type="text/javascript" src="/static/lib/ueditor/1.4.3/ueditor.all.min.js"> </script>
                <script type="text/javascript" src="/static/lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>
                <script type="text/javascript" src="/static/js/nicedit/nicEdit.js"></script>
                <script type="text/javascript">
                    var editor = $('#editor')
                    if (editor.attr('id') !== undefined)
                    {
                        bkLib.onDomLoaded(function()
                        {
                            new nicEditor({
                                iconsPath : '/static/js/nicedit/nicEditorIcons.gif'
                            }).panelInstance('editor')
                        })
                    }
                </script>
                <!--/请在上方写此页面业务相关的脚本-->
</body>
</html>
{/block}